@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NexaW01";
  src: url("./NexaW01-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NexaW01";
  src: url("./NexaW01-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
